*{
    margin: 0;
    padding: 0;
    border: none;
}
.container{
    padding: 25px;
}
.banner{
    background-color: #2a2a2a;
    color: white;
    height: 50rem;
}
nav{
    padding: 10px;
}
.btn-pink{
    background-color: #f63048;
    color: white;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.rascunho-logo{
    border: 1px solid white ;
    color: white;
    width: 7rem;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

.text-uppercase{
    text-transform: uppercase;
}
.banner-title{
    padding: 10px;
    color: white;
}
.banner_subtitle{
    padding: 10px;
    color: white;
}
.forms-download{
    padding: 10px;
}
.forms-download input{
    background-color: gray;
    padding: 10px 0 10px;
    width: 100%;
    margin: 0 0 20px 0;
}

.banner-img-ebook{
    padding: 40px;
}
.banner-img-ebook img {
    -webkit-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.58);
    box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.58);
}
.learning{
    margin-top: 150px;

}
.learning-cap-box{
    margin: 20px 0 20px 0;
}

.color-gray{
    color: gray;
}
.learning-cap-box_imgTitle{
    display: flex;
    align-items: end;
}
.learning-cap-box_subtitle{
    margin-left: 20px;
}
.teachers{
    background-color: #f3f3f3;
}
.teachers img{
    width: 100%;
}
.teachers-title{
    margin-top: 40px;
}
.teachers-subtitle{
    margin-top: 20px;
}
.font-bold{
    font-weight: bold;
}
.download{
    background-color: #2a2a2a;
    color: white;
}
.message-error{
    color: greenyellow;
}