*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: 'Mulie', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    padding: 25px;
}

.banner{
    background-color: #2a2a2a;
    color: white;
    height: 55rem;
}
nav{
    padding: 10px;
}
.btn-pink{
    background-color: #f63048;
    color: white;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.rascunho-logo{
    border: 1px solid white ;
    color: white;
    width: 7rem;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

.text-uppercase{
    text-transform: uppercase;
}
.banner-title{
    padding: 10px;
    color: white;
    font-size: 40px;
}
.banner_subtitle{
    padding: 10px;
    color: white;
}
.forms-download{
    padding: 10px;
}
.forms-download input{
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.05);
}

.banner-img-ebook{
    padding: 40px;
}
.banner-img-ebook img {
    -webkit-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.58);
    box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.58);
}
form{
    width: 70% ;
}
.learning{
    margin-top: 150px;

}
.learning-cap-box{
    margin: 20px 0 20px 0;
}

.color-gray{
    color: gray;
}
.learning-cap-box_imgTitle{
    display: flex;
    align-items: end;
}
.learning-cap-box_subtitle{
    margin-left: 20px;
}
.teachers{
    background-color: #f3f3f3;
}
.teachers img{
    width: 100%;
}
.teachers-title{
    margin-top: 40px;
}
.teachers-subtitle{
    margin-top: 20px;
}
.font-bold{
    font-weight: bold;
}
.download{
    background-color: #2a2a2a;
    color: white;
}
.container-download{
    text-align: center;
}
.container-download-title{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.container-download-subtitle{
    padding: 25px;
} 
.container-download-btn{
    font-size: 18px;
    width: 85%;
}
.message-error{
    color: #f63048;
}

.forms-download-box-input{
    margin: 5px 0 20px 0;
}

footer{
    color: black;
}

.box-logo-footer{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}
.logo-footer{
    color: black;
    border: 1px solid black;
}
.social-media{
    border: 2px solid;
    width: 10%;
    border-radius: 37px;
    padding: 15px;
}
.social-media-img {
    width: 90%;
}
.social-media-icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

@media screen and (min-width: 999px){
    .container{
        padding: 50px 100px 50px 100px;
    }
    .btn-pink{
        font-size: 22px;
    }
    .banner{
        height: 35rem;
    }
    .banner-img-ebook{
        padding: 135px;
    }
    .container-learning{
        display: flex;
    }
    .hidden-banner-desktop{
        display: flex;
    }
    .learning{
        margin-top: 50px;
    }
    .teachers-container{
        display: flex;
    }
    .teachers-container-titles{
        padding: 50px;
    }
    .container-download{
        padding: 20px 200px 0 200px;
        text-align: center;
    }
    .social-media{
        display: flex;
        align-items: center;
        height: 60%;
        padding: 2px;
        width: 4%;
        margin: 0 20px 0 0;
    }
    .social-media-img {
        width: 50%;
    }
    .social-media-icons{
        justify-content: flex-end;
    }
    .hidden-footer-desktop{
        display: flex;
    } 
    .container-download-title{
        font-size: 36px;
    } 
    
    .container-download-btn{
        width: 50%;
        font-size: 20px;
    }
}